---
import Layout from '../layouts/Layout.astro';
import AboutUsContent from '../components/AboutUsContent.astro';

import '../styles/aboutUs.css';
---

<Layout title="Nosotros">
  <main class="about-us">
    
      <AboutUsContent/>
    
  </main>
</Layout>