---
import styles from './hero.module.css';
---

<section class={styles.hero}>
  <div class={styles["hero-content"]}>
    <h1>¡Bienvenidos a Mundo Recreativo!</h1>
    <p>Donde la diversión y la alegría nunca terminan</p>
    <a href="/chatbot" class="cta-button">
      <i class="fas fa-robot"></i> ¡Quiero adquirir sus servicios!
    </a>
  </div>
</section>
